<!DOCTYPE html>
<html lang="en">
<head th:fragment = "l_head" th:with="title=${title}?:''">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_h" th:content="${_csrf.headerName}"/>
    <title th:text="${title}"></title>
    <link th:href="@{/public/css/navbar_h.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/public/css/main_grid.css}" rel="stylesheet" type="text/css">
</head>
<body>

</body>
</html>